@import './theme.css';

/* -----------重定义浏览器默认样式-----------------------
	Name:			style_reset
	Level:			Global
	Explain:		重定义浏览器默认样式
	Last Modify:	qz
----------------------------------------------*/

* {
  word-wrap: break-word;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  list-style-type: none;
}

html,
body {
  *position: static;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button {
  overflow: visible;
  vertical-align: middle;
  outline: none;
}

body,
th,
td,
button,
input,
select,
textarea {
  font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, tahoma, arial, Verdana, sans-serif,
    'WenQuanYi Micro Hei', '\5B8B\4F53';
  font-size: 12px;
  color: #606266;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

a,
area {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  outline: none;
}

a.ie6:hover {
  zoom: 1;
}

a:focus {
  outline: none;
}

a:hover,
a:active {
  outline: none;
}

:focus {
  outline: none;
}

sub,
sup {
  vertical-align: baseline;
}

/*img*/

img {
  border: 0;
  vertical-align: middle;
}

a img,
img {
  -ms-interpolation-mode: bicubic;
}

/*IE下a:hover 背景闪烁*/

html {
  overflow: -moz-scrollbars-vertical;
}

/*HTML5 reset*/

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {
  display: block;
  margin: 0;
  padding: 0;
}

time {
  display: inline;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

legend {
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border-width: 0;
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
	Name:			style_clearfix
	Example:		class="clearfix|cl"
	Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/

.cl:after,
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cl,
.clearfix {
  zoom: 1;
}
* {
  margin: 0;
}
/* 火狐浏览器必填文本框 红边框问题 */
input[required]:invalid,
input:focus:invalid,
textarea[required]:invalid,
textarea:focus:invalid {
  box-shadow: none;
}
input:not(output),
textarea:not(output) {
  box-shadow: none;
}
/*重置滚动条样式*/

html {
  scrollbar-face-color: #c2c2c2;
  /*滑块*/
  scrollbar-arrow-color: #ffffff;
  /*箭头*/
  scrollbar-3dlight-color: #ffffff;
  /*最外左*/
  scrollbar-highlight-color: #ffffff;
  /*左二*/
  scrollbar-shadow-color: #ffffff;
  /*右二*/
  scrollbar-darkshadow-color: #ffffff;
  /*最外右*/
  scrollbar-track-color: #ffffff;
  /*滑道*/
}

::-webkit-scrollbar-track-piece {
  background-color: #eeeeee;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

/* 级联选择器 滚动条样式 */

.el-cascader-menus ::-webkit-scrollbar,
.small-scrollbar ::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.el-cascader-menus ::-webkit-scrollbar-track-piece,
.small-scrollbar ::-webkit-scrollbar-track-piece {
  background-color: #eeeeee;
}

.el-cascader-menus ::-webkit-scrollbar,
.small-scrollbar ::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.el-cascader-menus ::-webkit-scrollbar-thumb,
.small-scrollbar ::-webkit-scrollbar-thumb {
  background-color: #d8d5d5;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 4px;
}

.el-cascader-menus ::-webkit-scrollbar-thumb:hover,
.small-scrollbar ::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*===================== reset end ==================== */

/* ============== base css  ============== */
.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25x !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pt0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-44 {
  padding-top: 44px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pd-0 {
  padding: 0 !important;
}

.pd-5 {
  padding: 5px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pd-25 {
  padding: 25px !important;
}

.pd-30 {
  padding: 30px !important;
}

.pd-35 {
  padding: 35px !important;
}

.pd-40 {
  padding: 40px !important;
}

.pd-45 {
  padding: 45px !important;
}

.pd-50 {
  padding: 50px !important;
}

/* 行高 */
.lh-default {
  line-height: 1 !important;
}
.lh-20 {
  line-height: 20px !important;
}
.lh-22 {
  line-height: 22px !important;
}
.lh-24 {
  line-height: 24px !important;
}
.lh-26 {
  line-height: 26px !important;
}
.lh-28 {
  line-height: 28px !important;
}
.lh-30 {
  line-height: 30px !important;
}
.lh-32 {
  line-height: 32px !important;
}
.lh-34 {
  line-height: 34px !important;
}
.lh-36 {
  line-height: 36px !important;
}

/* 色调 */
.font-default {
  color: var(--base-color) !important;
}

.font-blue {
  color: var(--base-blue-color) !important;
}

.font-green {
  color: var(--base-green-color) !important;
}

.font-darkgray {
  color: var(--base-darkgray-color) !important;
}

.font-gray {
  color: var(--base-gray-color) !important;
}

.font-red {
  color: var(--base-red-color) !important;
}

.font-white {
  color: var(--base-white-color) !important;
}

.font-orange {
  color: var(--base-orange-color) !important;
}

.border-default {
  border-color: var(--base-blue-color) !important;
}

.border-blue {
  border-color: var(--base-blue-color) !important;
}

.border-green {
  border-color: var(--base-green-color) !important;
}

.border-darkgray {
  border-color: var(--base-darkgray-color) !important;
}

.border-gray {
  border-color: var(--base-gray-color) !important;
}

.border-red {
  border-color: var(--base-red-color) !important;
}
.border-white {
  border-color: var(--base-white-color) !important;
}
.border-orange {
  border-color: var(--base-orange-color) !important;
}

.bg-default {
  background: var(--base-color) !important;
  background-color: var(--base-color) !important;
}

.bg-red {
  background: var(--base-red-color) !important;
  background-color: var(--base-red-color) !important;
}

.bg-green {
  background: var(--base-green-color) !important;
  background-color: var(--base-green-color) !important;
}

.bg-white {
  background: var(--base-white-color) !important;
  background-color: var(--base-white-color) !important;
}

.bg-blue {
  background: var(--base-blue-color) !important;
  background-color: var(--base-blue-color) !important;
}

.bg-orange {
  background: var(--base-orange-color) !important;
  background-color: var(--base-orange-color) !important;
}

.bg-darkgray {
  background: var(--base-darkgray-color) !important;
  background-color: var(--base-darkgray-color) !important;
}
.bg-gray {
  background: var(--base-gray-color) !important;
  background-color: var(--base-gray-color) !important;
}

.font-size12 {
  font-size: 12px !important;
}

.font-size13 {
  font-size: 13px !important;
}

.font-size14 {
  font-size: 14px !important;
}

.font-size15 {
  font-size: 15px !important;
}

.font-size16 {
  font-size: 16px !important;
}

.font-size17 {
  font-size: 17px !important;
}

.font-size18 {
  font-size: 18px !important;
}

.font-size19 {
  font-size: 19px !important;
}

.font-size20 {
  font-size: 20px !important;
}

.font-size21 {
  font-size: 21px !important;
}

.font-size22 {
  font-size: 22px !important;
}

.font-size23 {
  font-size: 23px !important;
}

.font-size24 {
  font-size: 24px !important;
}
.font-size26 {
  font-size: 26px !important;
}
.font-size28 {
  font-size: 28px !important;
}

.font-size30 {
  font-size: 30px !important;
}
.font-size32 {
  font-size: 32px !important;
}
.font-size34 {
  font-size: 34px !important;
}
.font-size36 {
  font-size: 36px !important;
}

/*icon定位高度调整*/
.icon-t-1 {
  position: relative;
  top: -1px;
}

.icon-t-2 {
  position: relative;
  top: -2px;
}

.icon-t-3 {
  position: relative;
  top: -3px;
}

.icon-t-4 {
  position: relative;
  top: -4px;
}

.icon-t-5 {
  position: relative;
  top: -5px;
}

.icon-t1 {
  position: relative;
  top: 1px;
}

.icon-t2 {
  position: relative;
  top: 2px;
}

.icon-t3 {
  position: relative;
  top: 3px;
}

.icon-t4 {
  position: relative;
  top: 4px;
}

.icon-t5 {
  position: relative;
  top: 5px;
}

/* 左右自动 */
.margin-auto {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-auto1 {
  flex: 1 1 auto;
}
.flex-auto0 {
  flex: 0 0 auto;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}
.flex-warp {
  display: flex;
  flex-wrap: wrap;
}
.flex-fill-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}
.hide {
  display: none;
}
.overflow {
  overflow: hidden;
}
.text-r {
  text-align: right;
}

.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}
.h-auto {
  height: auto !important;
}

/* 文字占位 */
.placeholder {
  color: transparent;
  text-indent: -9999px;
  visibility: hidden;
}

/* 加粗 */
.font-weight {
  font-weight: 700;
}
.font-blod {
  font-weight: blod;
}
.font-noblod {
  font-weight: normal;
}
/* 显示为内敛块级元素 */
.inlineblock {
  display: inline-block !important;
}

/* a标签hover 无下划线 */
.no-decoration:hover {
  text-decoration: none;
}

/* 单行文本超出隐藏 块级元素有效*/
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ============== base css end ============== */
